# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output folders
bin/
dist/

# Go workspace file
go.work

# Dependency directories
vendor/

# Environment files
.env

# Logs
*.log

# macOS files
.DS_Store

# IDE files
.vscode/
.idea/

# Temporary files
tmp/
temp/

# Coverage files
coverage.out

# Air live reload
.air.toml